<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <!-- Подключение CSS-файла -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Список пользователей</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Возраст</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">ID</td>
        <td th:text="${user.name}">Имя</td>
        <td th:text="${user.age}">Возраст</td>
    </tr>
</table>
<h2>Добавить нового пользователя</h2>
<form th:action="@{/users/add}" method="post">
    <p>Имя: <input type="text" name="name" required/></p>
    <p>Возраст: <input type="number" name="age" min="0" required/></p>
    <button type="submit">Добавить пользователя</button>
</form>
<form th:action="@{/users}" method="get">
    <button type="submit">Обновить таблицу</button>
</form>
</body>
</html>
